log
job_mpi.sh
*.pyc
kernel_example/NNsForMD/pyNNsMD.egg-info/dependency_links.txt
kernel_example/NNsForMD/pyNNsMD.egg-info/PKG-INFO
kernel_example/NNsForMD/pyNNsMD.egg-info/requires.txt
kernel_example/NNsForMD/pyNNsMD.egg-info/SOURCES.txt
kernel_example/NNsForMD/pyNNsMD.egg-info/top_level.txt
kernel_example/PyRAI2MD/PyRAI2MD/Dynamics/Propagators/fssh.c
kernel_example/PyRAI2MD/PyRAI2MD/Dynamics/Propagators/fssh.cpython-311-x86_64-linux-gnu.so
kernel_example/PyRAI2MD/PyRAI2MD.egg-info/PKG-INFO
kernel_example/PyRAI2MD/PyRAI2MD.egg-info/dependency_links.txt
kernel_example/PyRAI2MD/PyRAI2MD.egg-info/requires.txt
kernel_example/PyRAI2MD/PyRAI2MD.egg-info/SOURCES.txt
kernel_example/PyRAI2MD/PyRAI2MD.egg-info/top_level.txt
usr_example/photoMD.egg-info/dependency_links.txt
usr_example/photoMD.egg-info/PKG-INFO
usr_example/photoMD.egg-info/requires.txt
usr_example/photoMD.egg-info/SOURCES.txt
usr_example/photoMD.egg-info/top_level.txt
kernel_example/PyRAI2MD/PyRAI2MD/Dynamics/Propagators/fssh.c
